
.button-back-to{
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 25px;
    top: 40px;
    font-size: 14px;
}

.button-back-to__img{
    padding-top: 2px;
    margin-right: 5px;
}

.button-back-to:focus, .button-back-to:hover{
    border-bottom: 2px dotted black;
    }


.pagination__btn{
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.next-btn{
    transform: rotate(180deg);
}
.pagination__btn:focus,.pagination__btn:hover{
    border-bottom: 2px dotted black;
}
