
.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  font-size: 32px;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius:6px;
}

