/* CSS переменные */
:root {
  --font-size-small: 0.8rem; /* Маленький размер текста */
  --font-size-normal: 1rem; /* Нормальный размер текста */
  --font-size-large: 1.2rem; /* Большой размер текста */
  --font-size-xlarge: 1.5rem; /* Очень большой размер текста */
}

/* Сброс стилей */
html {
  box-sizing: border-box;
  font-size: 100%; /* 1rem = 16px по умолчанию */
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  padding-left:125px;
  padding-right:125px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif; 
  color: #333; 
  background: #fff; 
  positioun: relative;
}


.home__btn--absolut {
  position: fixed;
  top: 33px;
  left: 25px;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

code {
  background-color: #f4f4f4;
  padding: 2px 5px;
  border-radius: 3px;
}
pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 25px 0;
  color: #111; 
  font-weight: 600;
  font-size: var(--font-size-xlarge);
}

p, li {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-normal);
}

small {
  font-size: var(--font-size-small);
}

a {
  text-decoration: none;
  color: inherit; 
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; 
}

button {
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
  font: inherit; 
}

input, textarea {
  font: inherit;
}
